/* GLOBAL */

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* IDs */

#overlays {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:
    rgba(0,0,0,0.5);
    z-index: 200;
}

#title {
    padding: 10px;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#connecting {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

#nick {
    width: 65%;
    float: left;
}

#gamemode {
    width: 33%;
    float: right;
}

#helloDialog {
    width: 400px;
    background-color: #FFFFFF;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#chat_textbox {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0px;
    outline: none;
    color: #FFF;
    height: 30px;
    text-indent: 12px;
    left: 10px;
    width: 300px;
}

#chat_textbox:focus {
    background: rgba(0, 0, 0, .5);
}

#footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}

#play-btn {
    width: 85%;
    float: left;
}

#settings-btn {
    width: 13%;
    float: right;
}

#spectate-btn {
    margin-top: -5px;
}

#metamask {
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}
/* CLASSES */

.checkbox label {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.center {
    display: table;
    margin: 0 auto;
}

.btn {
  background: #e08600;
  background-image: -webkit-linear-gradient(top, #e08600, #cc7102);
  background-image: -moz-linear-gradient(top, #e08600, #cc7102);
  background-image: -ms-linear-gradient(top, #e08600, #cc7102);
  background-image: -o-linear-gradient(top, #e08600, #cc7102);
  background-image: linear-gradient(to bottom, #e08600, #cc7102);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #f7e6cd;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #fc8f3c;
  background-image: -webkit-linear-gradient(top, #fc8f3c, #d98134);
  background-image: -moz-linear-gradient(top, #fc8f3c, #d98134);
  background-image: -ms-linear-gradient(top, #fc8f3c, #d98134);
  background-image: -o-linear-gradient(top, #fc8f3c, #d98134);
  background-image: linear-gradient(to bottom, #fc8f3c, #d98134);
  text-decoration: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
